<header>
  <nav>
    <ul>
      <li>
      <form method="POST" action="/login">
        <input type="text" name="username" placeholder="Username">
        <button type="submit">Login</button>
      </form>
     </li>
       <%  %>
    </ul>
  </nav>
</header>







